# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
developer_venv/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
metadata
.tgt/
.onnx/

# Local Environment Config
.env


# Local model folder (2.2GB - MUST NOT be checked in)
phi-4-mini-onnx/
nllb-200-ct2/
models/

# Databases and Local Scraped Output
*.db
*.db-journal
*.db-wal
*.db-shm
*.log

# IDE / Editor Settings
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS-specific
.DS_Store
Thumbs.db
